body {
    font-family: 'Lato', sans-serif;
}
.nav-pills li a {
    border-radius: 0px;
}
.scrollable {
    overflow-y: scroll;
}
.data-container {
    padding-bottom: 10px;
    height: 600px;
}
.data-container-users {
    min-height: 675px;
}
.user-list a {
    padding: 6px 10px !important;
    font-weight: bold;
    text-align: center;
}
.chat-heading {
    border-bottom: #eee 1.5px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0px !important;
}
.content-wrapper {
    background-color: #fff;
    border-radius: 4px;
}
.chat-entry {
    word-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 5px;
}
.chat-entry {
    border-top: #eee 1.5px solid;
}

.chat-entry:first-child {
    border-top: none;
}
h4 {
    margin-bottom: 0px;
}
.chat-input {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: #eee 1px solid;
}
.send-message-button {
    border-top-right-radius: 0px;
    border: #eee 1px solid;
}
.send-message-button:hover {
    border: #eee 1px solid;
}
.send-message-button:active {
    border: #eee 1px solid;
}